@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
* {
  transition: 0.4s ease;
}
body {
  background-color: #f9f9f9;
  overflow: hidden;
  font-family: "Raleway";
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 4px;
  font-weight: 300;
}
.rela-block {
  display: block;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}
.floated-left {
  float: left;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
.floated-right {
  float: right;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
.abs-cent-text {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.abs-cent-text.near-top {
  top: 15%;
}
.abs-cent-text.near-bottom {
  top: 85%;
}
.ham-button-label {
  position: absolute;
  z-index: 100;
  height: 48px;
  width: 48px;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  transition: 0.4s ease, top 0.4s 0.4s ease;
}
.ham-button-label .ham-bar {
  position: absolute;
  height: 2px;
  width: 66%;
  background-color: #111;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.4s ease, transform 0.4s 0.4s ease, width 0.3s 0.4s ease;
}
.ham-button-label .ham-bar:nth-child(1) {
  top: 24%;
}
.ham-button-label .ham-bar:nth-child(2),
.ham-button-label .ham-bar:nth-child(3) {
  top: 47%;
}
.ham-button-label .ham-bar:nth-child(4) {
  top: 71%;
}
#hamButton {
  display: none;
}
#hamButton:checked+ .ham-button-label {
  left: 325px;
  top: 95%;
  transition: 0.4s ease, left 0.4s 0.4s ease;
}
#hamButton:checked+ .ham-button-label .ham-bar {
  transition: 0.4s ease, width 0.3s ease;
}
#hamButton:checked+ .ham-button-label .ham-bar:nth-child(1),
#hamButton:checked+ .ham-button-label .ham-bar:nth-child(4) {
  width: 0%;
}
#hamButton:checked+ .ham-button-label .ham-bar:nth-child(2) {
  transform: translateX(-50%) rotate(45deg);
}
#hamButton:checked+ .ham-button-label .ham-bar:nth-child(3) {
  transform: translateX(-50%) rotate(-45deg);
}
#hamButton:checked~ .off-screen-container {
  left: 0;
  transition: 0.4s ease, left 0.4s 0.4s ease;
  background-color: #fff;
  box-shadow: 0 0 24px 1px rgba(0,0,0,0.4);
}
#hamButton:checked~ .off-screen-container .side-block {
  left: 0;
}
#hamButton:checked~ .off-screen-container .side-block:nth-child(2) {
  transition: 0.4s ease, left 0.4s 0.55s ease, border 0.2s ease;
}
#hamButton:checked~ .off-screen-container .side-block:nth-child(3) {
  transition: 0.4s ease, left 0.4s 0.61s ease, border 0.2s ease;
}
#hamButton:checked~ .off-screen-container .side-block:nth-child(4) {
  transition: 0.4s ease, left 0.4s 0.67s ease, border 0.2s ease;
}
#hamButton:checked~ .off-screen-container .side-block:nth-child(5) {
  transition: 0.4s ease, left 0.4s 0.73s ease, border 0.2s ease;
}
#hamButton:checked~ .off-screen-container .side-bottom-text {
  bottom: 35px;
  transition: 0.4s ease, bottom 0.4s 1s ease;
}
.off-screen-container {
  position: absolute;
  z-index: 50;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 400px;
  text-align: center;
  transition: 0.4s ease, background-color 0.4s 0.4s ease;
}
.logo {
  z-index: 15;
  height: 156px;
  width: 156px;
  margin: 50px auto;
  overflow: hidden;
  text-decoration: none;
  transition: 0.4s ease, color 0.6s ease;
  color: #696969;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 8px;
}
.logo::after {
  content: "FISH 'N' CHIPS";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 77%;
  padding-top: 13%;
  width: 90%;
  background-color: #fff;
}
.logo::before {
  content: "";
  position: absolute;
  top: 80%;
  left: -135%;
  height: 155%;
  width: 155%;
  background-color: #111;
  transform: rotate(45deg);
  pointer-events: none;
  transition: 0.7s ease;
}
.logo:hover {
  color: #111;
}
.logo:hover::before {
  top: -25%;
  left: -25%;
}
.side-block {
  height: 10%;
  width: 80%;
  left: -400px;
  margin: 0 auto 20px;
  box-sizing: border-box;
  bckground-color: #ccc;
  font-weight: 500;
  cursor: pointer;
}
.side-block:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 8px;
  right: 0;
  transition: 0.25s ease;
  background: linear-gradient(to left, #111 50%, #ccc 50%);
  background-size: 200% 100%;
  background-position: left;
}
.side-block:hover::before {
  background-position: right;
}
.side-bottom-text {
  position: absolute;
  bottom: -100px;
  left: 45px;
  text-align: left;
  font-size: 13px;
  letter-spacing: 2px;
  line-height: 16px;
  font-weight: 500;
}
.page-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  background: #c0bbb1;
  background-size: 1920px 1080px;
}
.page-sized-section {
  height: 100vh;
}
.first-section {
  background: url("https://unsplash.it/5760/3840?image=1005") no-repeat center;
  background-size: cover;
  font-size: 44px;
}
.post {
  margin: 60px auto;
  height: 46vw;
  max-height: 540px;
  min-height: 220px;
  width: 80%;
  max-width: 960px;
  min-width: 310px;
  background-color: #fff;
  box-shadow: 4px 4px 16px 2px rgba(0,0,0,0.5);
}
.post-image {
  height: 100%;
  width: 45%;
  max-width: 380px;
  background-size: cover !important;
}
.japan-image {
  background: url("https://s-media-cache-ak0.pinimg.com/564x/ab/78/87/ab78872dc182e3f19ff41c18c38b0284.jpg") no-repeat center;
}
.bird-image {
  background: url("https://s-media-cache-ak0.pinimg.com/564x/f2/75/60/f27560f13c440dea62f956398a30de6e.jpg") no-repeat center;
}
.girl-image {
  background: url("https://s-media-cache-ak0.pinimg.com/564x/69/d4/f9/69d4f961ee7b45f5948b2877af221efc.jpg") no-repeat center;
}
.post-text {
  height: 100%;
}
.post-text h2 {
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 14px;
  font-family: "Montserrat";
  text-transform: uppercase;
  letter-spacing: 6px;
}
@media screen and (max-height: 800px) {
  .logo {
    margin: 25px auto;
  }
}
@media screen and (max-height: 640px) {
  .logo {
    transform: scale(0.7);
    margin: 0px auto;
    color: #111;
  }
  .logo::before {
    top: -25%;
    left: -25%;
  }
  .abs-cent-text.near-top {
    right: 50px;
  }
  .ham-button-label {
    transform: translateY(-50%) scale(0.75);
  }
  #hamButton:checked+ .ham-button-label {
    top: 80%;
  }
  #hamButton:checked~ .off-screen-container .side-bottom-text {
    bottom: -100px;
  }
}
@media screen and (max-height: 440px) {
  .logo {
    transform: scale(0.5);
    margin: -15px auto;
  }
  .side-block {
    height: 8%;
    width: 70%;
    font-size: 14px;
    line-height: 16px;
    margin: 0 auto 10px;
  }
}
@media screen and (max-width: 900px) {
  .post-text h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
  }
  .post-text p {
    font-size: 16px;
    line-height: 18px;
  }
}
@media screen and (max-width: 600px) {
  #hamButton:checked+ .ham-button-label {
    left: 225px;
    top: 95%;
  }
  #hamButton:checked~ .off-screen-container {
    left: 0;
    width: 300px;
    transition: 0.4s ease, left 0.4s 0.4s ease, width 0.4s 0.4s ease;
    background-color: #fff;
    box-shadow: 0 0 24px 1px rgba(0,0,0,0.4);
  }
  .logo {
    color: #111;
  }
  .logo::before {
    top: -25%;
    left: -25%;
  }
  .post-text h2 {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 4px;
  }
  .post-text p {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
  }
  .first-section {
    font-size: 30px;
  }
}
@media screen and (max-width: 440px) {
  .first-section {
    font-size: 20px;
  }
}
