body {
  margin: 4px;
  padding: 0px;
  font-size: 20px;
  color: #ffffff;
}

.header, .navbar, .content, .footer, .sidebar {
  box-sizing: border-box;
  padding: 10px;
  margin: 4px;
}
.header {
  height: 120px;
  background-color: #002A92;
}
.navbar {
  background-color: #2563FF;
  text-align: center;
}
.navbar a {
  color: #ffffff;
}
.footer {
  height: 50px;
  background-color: #002A92;
}
.sidebar.left {
  background-color: #002A92;
}
.sidebar.right {
  background-color: #002A92;
}
.content {
  background-color: #7BA0FF;
}



/* flexbox code*/
body {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
}
.header, .footer, .navbar {
  flex: 1 1 100%;
}
.sidebar {
  flex: 0 0 200px;
}
.content {
  min-height: 300px;
  flex: 1 1 360px;
}


@media (max-width: 800px) {
  .content { flex: 1 1 100%; }
  .sidebar { flex: 1 1 200px; }
}
@media (min-width: 800px) {
  .header        { order: 1; }
  .navbar        { order: 2; }
  .sidebar.left  { order: 3; }
  .content       { order: 4; }
  .sidebar.right { order: 5; }
  .footer        { order: 6; }
}
