* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "lato", Arial, sans-serif;
}
section {
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #ee7753, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  position:relative;
  animation: change 10s ease-in-out;
  animation-fill-mode: forwards;
}

h1 {
  font-size: 5rem;
  text-transform: uppercase;
  leeter-spacing: 2px;
  border: 3px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  padding: 5rem 10rem;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
   100% {
    background-position: 100% 50%;
  }
}
