body {
  width: 100wh;
  height: 90vh;
  color: #fff;
  background: linear-gradient(-45deg, #0e0702, #073c0e, #230605, #23050b);
  background-size: 400% 400%;

}



.glitch {
  color: white;
  font-size: 50px;
  position: relative;
  width: 500px;
  margin: 0 auto;
}
@keyframes noise-anim {
  0% {
    clip: rect(63px, 9999px, 92px, 0);
  }
  5% {
    clip: rect(69px, 9999px, 27px, 0);
  }
  10% {
    clip: rect(44px, 9999px, 70px, 0);
  }
  15% {
    clip: rect(84px, 9999px, 18px, 0);
  }
  20% {
    clip: rect(81px, 9999px, 83px, 0);
  }
  25% {
    clip: rect(92px, 9999px, 39px, 0);
  }
  30% {
    clip: rect(73px, 9999px, 25px, 0);
  }
  35% {
    clip: rect(10px, 9999px, 67px, 0);
  }
  40% {
    clip: rect(35px, 9999px, 7px, 0);
  }
  45% {
    clip: rect(14px, 9999px, 88px, 0);
  }
  50% {
    clip: rect(22px, 9999px, 73px, 0);
  }
  55% {
    clip: rect(87px, 9999px, 45px, 0);
  }
  60% {
    clip: rect(7px, 9999px, 57px, 0);
  }
  65% {
    clip: rect(56px, 9999px, 50px, 0);
  }
  70% {
    clip: rect(46px, 9999px, 83px, 0);
  }
  75% {
    clip: rect(37px, 9999px, 29px, 0);
  }
  80% {
    clip: rect(86px, 9999px, 47px, 0);
  }
  85% {
    clip: rect(53px, 9999px, 83px, 0);
  }
  90% {
    clip: rect(67px, 9999px, 65px, 0);
  }
  95% {
    clip: rect(79px, 9999px, 8px, 0);
  }
  100% {
    clip: rect(46px, 9999px, 39px, 0);
  }
}

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(55px, 9999px, 12px, 0);
  }
  5% {
    clip: rect(44px, 9999px, 26px, 0);
  }
  10% {
    clip: rect(15px, 9999px, 70px, 0);
  }
  15% {
    clip: rect(15px, 9999px, 32px, 0);
  }
  20% {
    clip: rect(99px, 9999px, 53px, 0);
  }
  25% {
    clip: rect(45px, 9999px, 9px, 0);
  }
  30% {
    clip: rect(42px, 9999px, 25px, 0);
  }
  35% {
    clip: rect(61px, 9999px, 28px, 0);
  }
  40% {
    clip: rect(80px, 9999px, 73px, 0);
  }
  45% {
    clip: rect(86px, 9999px, 97px, 0);
  }
  50% {
    clip: rect(26px, 9999px, 32px, 0);
  }
  55% {
    clip: rect(52px, 9999px, 12px, 0);
  }
  60% {
    clip: rect(27px, 9999px, 56px, 0);
  }
  65% {
    clip: rect(82px, 9999px, 34px, 0);
  }
  70% {
    clip: rect(25px, 9999px, 59px, 0);
  }
  75% {
    clip: rect(83px, 9999px, 99px, 0);
  }
  80% {
    clip: rect(32px, 9999px, 82px, 0);
  }
  85% {
    clip: rect(1px, 9999px, 89px, 0);
  }
  90% {
    clip: rect(90px, 9999px, 10px, 0);
  }
  95% {
    clip: rect(98px, 9999px, 15px, 0);
  }
  100% {
    clip: rect(100px, 9999px, 64px, 0);
  }
}

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
